body,html {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000;
  background: #fff;
}

input,p,textarea {
  padding: 0;
  margin: 0;
}

h1,h2 {
  font-family: "Cuprum","Arial",sans-serif;
}

h1,h2,h3 {
  font-weight: 700;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  color: #fff;
}

h2,h3 {
  color: #000;
}

h2 {
  font-size: 30px;
  line-height: 24px;
}

h2,h3,ul {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans","Arial",sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

ul {
  list-style: none;
}

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
}

.catalog-page .main-header {
  margin-bottom: 18px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.header-up {
  min-height: 42px;
  background: #293449;
} 

.logo {
  float: left;
}

.logo a {
  display: inline-block;
  width: 165px;
  padding: 11px 0 7px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo a:hover {
  background: #ca2c37;
}

.logo a:active {
  background: #ba2732;
}

.header-up-wrapper,.search {
  float: left;
  color: #fff;
  background: #293449;
}

.header-up-wrapper {
  max-width: 720px;
}
.search {
  position: relative;
  width: 270px;
}

input[type=search] {
  width: 100%;
  padding: 12px 0 12px 49px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #fff;
  background-color: #293449;
  border: none;
  cursor: pointer;
}

label.search-label {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 20;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -106px -1px;
  cursor: pointer;
}
input[type=search]:hover {
  background: #212a3a;
  border: none;
}

input[type=search]:focus {
  color: #000;
  background: #fff;
  outline: none;
}

input[type=search]:hover+label {
  background: url(../img/sprite.png) no-repeat;
  background-position: -106px -51px;
}

input[type=search]:focus+label {
  background: url(../img/sprite.png) no-repeat;
  background-position: -207px -151px;
}

.bookmarks {
  position: relative;
  width: 105px;
  float: left;
  padding: 12px 0 12px 45px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #293449;
}

.bookmarks:hover {
  background: #212a3a;
}

.bookmarks:active {
  background: #161d29;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -53px 1px;
}

.bookmarks:hover:before {
  background-position: -53px -49px;
}

.bookmarks:active:before {
  background-position: -54px -99px;
}

.basket {
  position: relative;
  float: left;
  width: 100px;
  padding: 12px 0 12px 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background-color: #293449;
}

.full-basket {
  background: #ee3643;
}

.basket:hover {
  background: #212a3a;
}

.basket:active {
  background: #161d29;
}

.basket::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -8px 1px;
}
.basket:hover:before {
  background-position: -7px -49px;
}

.basket:active:before {
  background-position: -8px -99px;
}

.ordering {
  float: left;
  padding: 12px 22px 12px 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #fff;
  background: #63a63e;
}

.ordering:hover {
  background: #5fbb2d;
}

.ordering:active {
  background: #518534;
}

.header-down {
  min-height: 278px;
  color: #000;
  background-color: #f1f5f7;
}

.title {
  width: 247px;
  float: left;
  margin: 49px 0 40px 52px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ef5c67;
}

.data {
  float: left;
  width: 340px;
}

.address,
.telephone {
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
}

.telephone {
  position: relative;
  margin: 46px 50px 4px 22px;
  border: 3px solid #fff;
  width: 264px;
  font-size: 21px;
  line-height: 18px;
}

.telephone p {
  padding: 10px 10px 11px 71px;
  color: #e9292a;
}

.telephone::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -201px -202px;
}

.address {
  width: 310px;
  margin-left: 31px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login,
.user-block {
  float:left;
}

.login {
  position: relative;
  margin: 47px 10px 0 21px;
  padding: 12px 26px 14px 46px;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.login:hover {
  color: #ee3643;
}

.login:active {
  color: #cacaca;
}

.login::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -304px -98px;
}

.login:hover::before {
  background-position: -201px -98px;
}

.login:active::before {
  background-position: -254px -98px;
}

.registration {
  float: right;
  padding: 12px 25px 14px 23px;
  margin-top: 47px;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.registration:hover {
  color: #ee3643;
}

.loged:active,
.registration:active {
  color: #cacaca;
}

.loged {
  position: relative;
  float: left;
  padding: 12px 65px 14px 46px;
  margin: 47px 0 0 3px;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.loged::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -303px -46px;
}

.loged:hover:before {
  background-position: -201px -49px;
}

.loged:active:before {
  background-position: -251px -44px;
}

.loged::after {
  content: "";position:absolute;
  top: 10px;
  left: 268px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -306px 2px;
}

.loged:hover:after {
  background-position: -205px 3px;
}

.loged:active:after {
  background-position: -253px 3px;
}

.information {
  float: left;
  margin-top: 8px;
  font-size: 0;
  line-height: 0;
}

.my-orders {
  display: inline-block;
  padding-left: 19px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #32425c;
  background: #f2f6f8;
}

.my-orders:hover {
  color: #ef4652;
}

.my-orders:active {
  color: #c5cad0;
}

.cabinet,
.point {
  display: inline-block;
}

.point {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
  background: #32425c;
  border-radius: 50px;
}

.cabinet {
  position: relative;
  padding-left: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum","Arial",sans-serif;
  background: #f2f6f8;
  color: #32425c;
}

.cabinet:hover {
  color: #ef4652;
}

.cabinet:active {
  color: #c5cad0;
}

.main-navigation {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  display: block;
  padding: 20px 31px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #fff;
}

.main-navigation a:hover,
.service-toggle label:hover {
  background: #293449;
}

.main-navigation a:active {
  background: #1d2739;
}

.block-1 {
  margin-bottom: 65px;
  background: #fff;
  color: #000;
}