body,html {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000;
  background: #fff;
}

input,p,textarea {
  padding: 0;
  margin: 0;
}

h1,h2 {
  font-family: "Cuprum","Arial",sans-serif;
}

h1,h2,h3 {
  font-weight: 700;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  color: #fff;
}

h2,h3 {
  color: #000;
}

h2 {
  font-size: 30px;
  line-height: 24px;
}

h2,h3,ul {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans","Arial",sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

ul {
  list-style: none;
}

.main-header {
  min-height: 320px;
  margin-bottom: 59px;
}

.catalog-page .main-header {
  margin-bottom: 18px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.header-up {
  min-height: 42px;
  background: #293449;
} 

.logo {
  float: left;
}

.logo a {
  display: inline-block;
  width: 165px;
  padding: 11px 0 7px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo a:hover {
  background: #ca2c37;
}

.logo a:active {
  background: #ba2732;
}

.header-up-wrapper,.search {
  float: left;
  color: #fff;
  background: #293449;
}

.header-up-wrapper {
  max-width: 720px;
}
.search {
  position: relative;
  width: 270px;
}

input[type=search] {
  width: 100%;
  padding: 12px 0 12px 49px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #fff;
  background-color: #293449;
  border: none;
  cursor: pointer;
}

label.search-label {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 20;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -106px -1px;
  cursor: pointer;
}
input[type=search]:hover {
  background: #212a3a;
  border: none;
}

input[type=search]:focus {
  color: #000;
  background: #fff;
  outline: none;
}

input[type=search]:hover+label {
  background: url(../img/sprite.png) no-repeat;
  background-position: -106px -51px;
}

input[type=search]:focus+label {
  background: url(../img/sprite.png) no-repeat;
  background-position: -207px -151px;
}

.bookmarks {
  position: relative;
  width: 105px;
  float: left;
  padding: 12px 0 12px 45px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #293449;
}

.bookmarks:hover {
  background: #212a3a;
}

.bookmarks:active {
  background: #161d29;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -53px 1px;
}

.bookmarks:hover:before {
  background-position: -53px -49px;
}

.bookmarks:active:before {
  background-position: -54px -99px;
}

.basket {
  position: relative;
  float: left;
  width: 100px;
  padding: 12px 0 12px 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background-color: #293449;
}

.full-basket {
  background: #ee3643;
}

.basket:hover {
  background: #212a3a;
}

.basket:active {
  background: #161d29;
}

.basket::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -8px 1px;
}
.basket:hover:before {
  background-position: -7px -49px;
}

.basket:active:before {
  background-position: -8px -99px;
}

.ordering {
  float: left;
  padding: 12px 22px 12px 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #fff;
  background: #63a63e;
}

.ordering:hover {
  background: #5fbb2d;
}

.ordering:active {
  background: #518534;
}

.header-down {
  min-height: 278px;
  color: #000;
  background-color: #f1f5f7;
}

.title {
  width: 247px;
  float: left;
  margin: 49px 0 40px 52px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ef5c67;
}

.data {
  float: left;
  width: 340px;
}

.address,
.telephone {
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
}

.telephone {
  position: relative;
  margin: 46px 50px 4px 22px;
  border: 3px solid #fff;
  width: 264px;
  font-size: 21px;
  line-height: 18px;
}

.telephone p {
  padding: 10px 10px 11px 71px;
  color: #e9292a;
}

.telephone::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -201px -202px;
}

.address {
  width: 310px;
  margin-left: 31px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login,
.user-block {
  float:left;
}

.login {
  position: relative;
  margin: 47px 10px 0 21px;
  padding: 12px 26px 14px 46px;
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.login:hover {
  color: #ee3643;
}

.login:active {
  color: #cacaca;
}

.login::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -304px -98px;
}

.login:hover::before {
  background-position: -201px -98px;
}

.login:active::before {
  background-position: -254px -98px;
}

.registration {
  float: right;
  padding: 12px 25px 14px 23px;
  margin-top: 47px;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.registration:hover {
  color: #ee3643;
}

.loged:active,
.registration:active {
  color: #cacaca;
}

.loged {
  position: relative;
  float: left;
  padding: 12px 65px 14px 46px;
  margin: 47px 0 0 3px;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.loged::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 11px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -303px -46px;
}

.loged:hover:before {
  background-position: -201px -49px;
}

.loged:active:before {
  background-position: -251px -44px;
}

.loged::after {
  content: "";position:absolute;
  top: 10px;
  left: 268px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -306px 2px;
}

.loged:hover:after {
  background-position: -205px 3px;
}

.loged:active:after {
  background-position: -253px 3px;
}

.information {
  float: left;
  margin-top: 8px;
  font-size: 0;
  line-height: 0;
}

.my-orders {
  display: inline-block;
  padding-left: 19px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #32425c;
  background: #f2f6f8;
}

.my-orders:hover {
  color: #ef4652;
}

.my-orders:active {
  color: #c5cad0;
}

.cabinet,
.point {
  display: inline-block;
}

.point {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
  background: #32425c;
  border-radius: 50px;
}

.cabinet {
  position: relative;
  padding-left: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum","Arial",sans-serif;
  background: #f2f6f8;
  color: #32425c;
}

.cabinet:hover {
  color: #ef4652;
}

.cabinet:active {
  color: #c5cad0;
}

.main-navigation {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  display: block;
  padding: 20px 31px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum","Arial",sans-serif;
  text-decoration: none;
  color: #fff;
}

.main-navigation a:hover,
.service-toggle label:hover {
  background: #293449;
}

.main-navigation a:active {
  background: #1d2739;
}

.block-1 {
  margin-bottom: 65px;
  background: #fff;
  color: #000;
}

.category,
.offers {
  line-height: 0;
  font-size: 0;
}

.offers {
  margin-bottom: 33px;
  width: 940px;
}

.category {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 123px;
  margin: 0 0 20px 20px;
  vertical-align: middle;
  background-color: #f6b22d;
}

.category:first-child {
  margin-left: 0;
}

.category:nth-child(2) {
  background: #4aafde;
}

.category:nth-child(3) {
  background: #cc79d1;
}

.category:nth-child(5) {
  background: #85d179;
}

.category-btn,
.category>h2 {
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #fff;
}

.category>h2 {
  background: 0 0;
  display: block;
  margin: 21px 0 0 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.category-img {
  position: absolute;
  width: 123px;
  height: 123px;
  right: 0;
  top: 0;
}

.category-img>img {
  position: absolute;
  left: 44%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.category-btn {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  margin: 12px 0 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background: rgba(0,0,0,.1);
}

.category-btn:hover {
  background: rgba(0,0,0,.2);
}

.category-btn:active {
  background: rgba(0,0,0,.3);
}

.slider {
  position: relative;
  display: inline-block;
  float: left;
  width: 620px;
  height: 266px;
  margin: 0 auto;
}

.service-block input [type=radio],
.slider input [type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  z-index: 60;
  bottom: 14%;
  left: 45%;
  width: 60px;
  height: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  vertical-align: top;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider .arrow-left::before {
  content: "";
  position: absolute;
  z-index: 20;
  left: 22px;
  top: 123px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  width: 28px;
  height: 4px;
  background: #fff;
  cursor: pointer;
}

.slider .arrow-left::after,
.slider .arrow-right::after,
.slider .arrow-right::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 140px;
  display: block;
  width: 28px;
  height: 4px;
  background: #fff;
  cursor: pointer;
}

.slider .arrow-left::after {
  left: 22px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider .arrow-right::after,
.slider .arrow-right::before {
  right: 17px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider .arrow-right::after {
  top: 123px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#btn-1:checked~.slider-controls label[for=btn-1],
#btn-2:checked~.slider-controls label[for=btn-2] {
  background: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  margin-left: 24px;
  padding-top: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans","Arial",sans-serif;
  color: #fff;
  background: 0 0;
}

.slide .btn,
.slide-title {
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.slide-title {
  margin-bottom: 4px;
  background: 0 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
}

.slide .btn {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-top: 122px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background: #ee3643;
  border-radius: 3px;
}

.slide:nth-child(1),
.slide:nth-child(2) {
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background-image: url(../img/slider-2.jpg);
}

.slide {
  display: none;
}

#btn-1:checked~.slides .slide:nth-child(1),
#btn-2:checked~.slides .slide:nth-child(2) {
  display: block;
}

.popular-goods {
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.popular-goods .btn,.popular-goods>span {
  float: left;
  margin: 30px 0 29px 28px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
}

.popular-goods .btn {
  float: right;
  padding: 11px 55px 9px;
  margin: 25px 24px 0 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  color: #fff;
  border-radius: 4px;
}

.catalog {
  font-size: 0;
  line-height: 0;
}

.drill {
  position: relative;
  display: inline-block;
  margin-bottom: 21px;
  margin-left: 20px;
  width: 218px;
  height: 316px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}

.drill:hover {
  box-shadow: 0 0 10px #aeb2ba;
}

.new:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.our-drill .drill:nth-child(4n+1) {
  margin-left: 0;
}

.drill-actions {
  position: absolute;
  z-index: 150;
  top: 0;
  left: 0;
  display: none;
  width: 218px;
  height: 88px;
  padding: 44px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans","Arial",sans-serif;
  text-align: center;
  color: #000;
  background: #fff;
}

.drill:hover .drill-actions {
  display: block;
}

.drill-actions .buy {
  width: 135px;
  padding: 9px 0;
  color: #fff;
}

.drill-actions .buy,
.drill-actions .in-bookmark {
  display: block;
  margin: 0 auto 7px;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  font-family: 'Cuprum','Arial',sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  background: #63a63e;
  border-radius: 3px;
}

.drill-actions .buy {
  position: relative;
  box-shadow: inset 0 -3px 0 #367315;
}

.drill-actions .buy:hover {
  background: #5fbb2d;
  box-shadow: 0 3px 15px rgba(0,1,1,.25);
}

.drill-actions .buy:active {
  background: #518534;
  box-shadow: 0 10px 25px rgba(41,52,73,.5);
}

.drill-actions .buy::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -9px 1px;
}

.drill-actions .buy:active::before,
.drill-actions .buy:hover::before {
  background-position: -8px -49px;
}

.drill-actions .in-bookmark {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  background: #fff;
  border: 3px solid #63a63e;
}

.drill-actions .in-bookmark:hover {
  color: #32425c;
  background: #fff;
  border: 3px solid #32425c;
}

.drill-actions .in-bookmark:active {
  color: #d0d2d6;
  border: 3px solid #c1c6ce;
}

.modal-add-product .icon {
  position: relative;
  display: inline-block;
  margin: 47px 32px 50px 80px;
  width: 66px;
  height: 66px;
  line-height: 42px;
  font-family: "Arial",sans-serif;
  vertical-align: middle;
  text-decoration: none;
  background: #693;
  border-radius: 50px;
}

.add-product-button .btn,.icon+span {
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  color: #000;
  background: #fff;
}

.icon+span {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

.modal-add-product .icon::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;
  width: 46px;
  height: 42px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -345px -91px;
}

.add-product-button {
  padding: 48px 0 46px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  background: #f1f1f1;
}

.add-product-button .btn {
  width: 460px;
  padding: 11px 49px;
  margin-right: 20px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.add-product-button .btn:last-child {
  margin-right: 0;
}

.add-product-button .active-btn {
  color: #fff;
  background: #ee3643;
}

.drill-image {
  position: relative;
  width: 218px;
  height: 168px;
  overflow: hidden;
}

.drill-image>img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-57%,-50%);
  transform: translate(-57%,-50%);
  z-index: 100;
}

.drill .btn,
.drill .oldprice,
.drill-title {
  font-weight: 700;
  font-style: normal;
  font-family: "PT Sans","Arial",sans-serif;
}

.drill-title {
  display: block;
  padding: 0 24px 0 25px;
  margin: 11px 0;
  text-align: center;
  color: #000;
  font-size: 18px;
  line-height: 20px;
}

.drill .btn,
.drill .oldprice {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.drill .oldprice {
  min-height: 20px;
  margin-bottom: 8px;
  display: block;
  text-decoration: line-through;
  color: #999;
}

.drill-description+a.btn {
  margin-top: 28px;
}

.drill .btn {
  position: relative;
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  padding: 10px 14px 10px 29px;
  text-decoration: none;
  color: #fff;
  background: #ee3643;
  border-radius: 3px 0 0 3px;
}

.drill .btn:after {
  content: '';
  position: absolute;
  top: 1px;
  right: -36px;
  width: 0;
  height: 0;
  border: 18px solid #fff;
  border-left-color: #ee3643;
}

.drill .btn:hover::after {
  border-left-color: #ca2c37;
}

.drill .btn:active::after {
  border-left-color: #ba2732;
}

.popular-firms {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-firms .btn,.popular-firms>span {
  float: left;
  margin: 30px 0 29px 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum","Arial",sans-serif;
}

.popular-firms .btn {
  background-color: #ee3643;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 69px;
  margin: 25px 24px 0 0;
  border-radius: 4px;
  float: right;
}

.banner-firms {
  font-size: 0;
  line-height: 0;
}

.banner-firms>a {
  display: inline-block;
  width: 218px;
  height: 143px;
  margin: 0 20px 20px 0;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
}

.banner-firms a:hover {
  box-shadow:0 10px 25px rgba(41,52,73,.5);
}

.banner-firms a:active {
  box-shadow: 0 4px 10px rgba(41,52,73,.5);
  opacity: .3;
}

.banner-firms a:nth-child(4n) {
  margin-right: 0
}

.banner-firms a>img {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.block-2 {
  margin-bottom: 82px;
  background-color: #f2f6f8;
}

.service>h2,
.service>p {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.service>h2 {
  padding: 68px 0 29px;
  text-transform: uppercase;
  color: #000;
  background: #f2f6f8;
  font-size: 30px;
  font-family: "Cuprum","Arial",sans-serif;
}

.service>p {
  padding-bottom: 64px;
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
}

.service-block {
  position: relative;
  display: inline-block;
  float: left;
  width: 940px;
  height: 289px;
  margin: 0 auto;
}

.service-block::after {
  content: "";
  position: absolute;
  z-index: 70;
  top: -45px;
  left: 230px;
  width: 15px;
  height: 284px;
  background: url(../img/shadow.png) no-repeat;
  background-position: 0 0;
}

.service-toggle {
  position: absolute;
  z-index: 60;
  bottom: 95%;
  left: 0%;
  width: 60px;
  height: 10px;
}

.service-toggle label {
  display: block;
  width: 218px;
  padding: 13px 0 16px 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum","Arial",sans-serif;
  text-align: left;
  color: #fff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  outline: none;
  cursor: pointer;
}

#button-1:checked~.service-toggle label[for=button-1],
#button-2:checked~.service-toggle label[for=button-2],
#button-3:checked~.service-toggle label[for=button-3] {
  color: #32425c;
  background: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
}

.service-touch-button p,
.service-touch-button span {
  display:block;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.service-touch-button span {
  padding: 9px 0 31px 79px;
  text-transform: uppercase;
  color: #32425c;
  font-size: 36px;
  font-family: "Cuprum","Arial",sans-serif;
}

.service-touch-button p {
  width: 290px;
  padding-left: 80px;
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
}

p.additional-text {
  width: 200px;
}

.credit .btn {
  width: 107px;
  display: block;
  margin: 27px 0 0 78px;
  padding: 10px 44px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #ee3642;
  border-radius: 5px;
  outline: none;
}

.credit,
.delivery,
.garantia {
  background-image: url(../img/bg-delivery.png);
  background-position: 100% 122%;
  background-repeat: no-repeat;
}

.credit,
.garantia {
  background-image: url(../img/bg-guarantee.png);
  background-position: 103% 25%;

}

.garantia p {
  width: 380px;
} 

.credit {
  background-image: url(../img/bg-credit.png);
  background-position: 111% 28%;
} 

.service-touch-button {
  display: none;
  margin-left: 242px;
  padding-bottom: 124px;
} 

#button-1:checked~.service-block-right .delivery,
#button-2:checked~.service-block-right .garantia,
#button-3:checked~.service-block-right .credit {
  display: block;
} 

.block-3 {
  margin-bottom: 87px;
  color: #000;
  background: #fff;
} 

.info {
  float: left;
  width: 528px;
} 

.info>h2,
.info>p {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
} 

.info>h2 {
  margin-bottom: 29px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Cuprum","Arial",sans-serif;
} 


.info>p {
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #222;
} 

.info p:nth-child(2) {
  padding-bottom: 24px;
} 

.info .btn,
.list-info {
  font-weight: 400;
  font-style: normal;
} 

.list-info {
  margin: 11px 0 34px 36px;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 40px;
} 

.list-info,
.list-info li {
  position: relative;
} 

.list-info li::before {
  content: '';position:absolute;
  left: -36px;
  top: 19px;
  display: block;
  width: 25px;
  height: 2px;
  background: #fb565a;
} 

.info .btn {
  padding: 12px 40px 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ef4652;
  border-radius: 4px;
} 

.contacts {
  float: right;
} 

.contacts .btn,
.contacts>h2,
.info .btn {
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
} 

.contacts>h2,
.contacts>p {
  margin-bottom: 29px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 30px;
  color: #000;
} 

.contacts>p {
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
  margin-bottom: 32px;
} 

.map {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 37px; 
}

.contacts .btn,
.form-answer span {
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
} 

.contacts .btn {
  padding: 13px 58px 8px 64px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ee3643;
  border-radius: 4px;
  display: block;
} 

.form-answer {
  margin: 23px 80px 0;
} 

.form-answer span,
.modal-write-us label {
  font-size: 18px;
  font-family: "Cuprum","Arial",sans-serif;
} 

.form-answer span {
  display: inline-block;
  margin: 0 0 9px;
} 

.modal-write-us input[type=text],
.modal-write-us label {
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  outline: none;
} 

.modal-write-us label {
  float: left;
  color: #000;
} 

.modal-write-us input[type=text] {
  width: 200px;
  margin: 0 20px 17px 0;
  padding-left: 14px;
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
  text-align: left;
  color: #999;
  background: #fff;
  border: 2px solid #999;
  border-radius: 5px;
} 

.form-answer label:last-of-type input[type=text] {
  margin-right: 0;
} 

.form-btn .btn,
.modal-write-us textarea {
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
} 

.modal-write-us textarea {
  margin-bottom: 24px;
  padding: 5px 0 0 12px;
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #a9a9a9;
  border: 3px solid #d7dcde;
  outline: 0;
} 

.form-btn {
  padding: 37px 0;
  background: #f1f1f1;
} 

.form-btn .btn {
  width: 460px;
  margin: 0 auto;
  padding: 11px 50px 8px;
  font-size: 14px;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #ee3643;
  outline: none;
  border: none;
}

.block-4 {
  color: #000;
  background: #fff;
} 

.breadcrumbs {
  position: relative;
  margin-bottom: 17px;
} 

.breadcrumbs>a {
  position: relative;
  margin-right: 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial",sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
} 

.breadcrumbs a:first-child {
  margin-left: 17px;
} 

.breadcrumbs a:first-child::after,
.breadcrumbs a:first-child::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -19px;
  width: 16px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -211px -256px;
} 

.breadcrumbs a:first-child::after {
  top: -1px;
  left: 11px;
  background-position: -379px -19px;
} 

.marker1::after,
.marker2::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 68px;
  width: 14px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -379px -19px;
} 

.marker2::after {
  left: 96px;
} 

.drill-header {
  margin-bottom: 20px;
  padding: 30px 0 29px;
  background: #f2f6f8;
} 

.drill-header h2 {
  padding-left: 28px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
  color: #32425c;
} 

.filter-search {
  width: 220px;
  float: left;
  min-height: 1202px;
  margin-right: 20px;
  font-size: 0;
  line-height: 0;
} 

.filter,
.range-controls {
  background: #f7f3ec;
  border-radius: 3px;
} 

.by-price h3,
.filter {
  font-style: normal;
  font-family: "PT Sans","Arial",sans-serif;
  text-transform: uppercase;
} 

.filter {
  padding: 10px 0 10px 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
} 

.by-price h3 {
  margin-top: 11px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
} 

.range-controls {
  position: relative;
  height: 80px;
  margin: 14px 0 10px;
  padding: 0 30px;
  overflow: hidden;
} 

.scale {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde;
} 

.bar {
  width: 87%;
  height: 2px;
  background: #00ca74;
} 

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
}