body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*==================ШАПКА===================*/
/*Основной блок.*/
.main-header {
  font-family: 'Cuprum', sans-serif;
  background-color: #f4f7f9;
}

.main-header a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.info-header {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.contacts-2 {
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
}

.contacts-2 a {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.address-1 {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.order {
  background-color: #63a63e;
}

.button-сabinet,
.button-registration {
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #ffffff;
  border: none;
}

/*Верхняя часть*/
.header-top {
  color: #ffffff;
  background-color: #293449;
}

.header-logo {
  background-color: #ee3643;
}

input {
  background: inherit;
  border: none;
}

/*Нижняя часть. Меню*/
.main-navigation {
  background-color: #293449;
}

.site-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #1e2639;
}
/*=========================================*/